.error {
	background-color: rgba(0, 0, 0, 0.03);
	padding: 75px 20px;
	text-align: center;
}

.error h1 {
	font-size: 80px;
}

.error h3 {
	text-transform: uppercase;
	font-weight: 900;
}

.error p {
	margin: 20px auto;
}

.error a {
	display: flex;
	width: 150px;
	height: 50px;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	text-transform: uppercase;
	border: 1px solid var(--clr-primary);
	border-radius: 25px;
	background-color: var(--clr-primary);
	color: var(--clr-yellow);
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.error a:hover {
	border: 1px solid var(--clr-yellow);
	background-color: var(--clr-yellow);
	color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
	.error {
		padding: 100px 50px;
	}
	
	.error h1 {
		font-size: 120px;
	}
}
