.hero {
	min-height: calc(100vh - 100px);
	background-image: linear-gradient( to bottom , rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/home.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	display: flex;
	justify-content: space-between;
	color: white;
	padding: var(--global-padding);
	padding-top: 150px;
	padding-bottom: 50px;
}

.hero div:nth-child(1) {
	padding: 30px 0;
	flex-basis: 50%;
}

.hero div:nth-child(1) p:nth-child(1), .hero span {
	color: var(--clr-yellow);
	font-weight: bold;
}

.hero h1 {
	margin: 15px 0;
}

.hero div:nth-child(2) {
	margin: auto;
}

.hero img {
	width: 400px;
	height: auto;
}

.phone {
	animation: bounce 3s infinite;
}

.offer {
	padding: var(--global-padding);
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}


.offer-intro {
	max-width: 700px;
	margin: auto;
}

.offer-intro span {
	color: var(--clr-yellow);
}

.offer-cards-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	gap: 30px;
}

.card {
	padding: 20px;
	border-radius: 10px;
	flex-basis: 31.5%;
	text-align: left;
	font-size: 14px;
	box-shadow: var(--box-shadow);
}

.card:nth-child(1) {
	background: var(--clr-primary);
	color: white;
}

.card:nth-child(2) {
	background: var(--clr-yellow);
}

.card:nth-child(1) {
	background: var(white);
}

.card-upper {
	display: flex;
	border-bottom: 1px solid grey;
	padding: 20px 0;
	gap: 20px;
}

.card-upper p:nth-child(1) {
	font-size: 20px;
	font-weight: bold;
}

.card-icons-wrapper {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 20px 0;
}

.card-icons-wrapper i {
	font-size: 25px;
}

.card-inline {
	display: flex;
	align-items: center;
}

.card-inline span {
	display: inline-block;
	margin-left: 5px;
}

.card div:nth-child(1) div:nth-child(1){
	flex-basis: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card div:nth-child(1) i {
	font-size: 25px;
}

.dollar-icon, .tablet-icon {
	background: var(--clr-yellow);
	border: none;
	border-radius: 5px;
	color: var(--clr-primary);
	width: 50px;
	height: 50px;
}

.privacy-icon {
	background: var(--clr-primary);
	border: none;
	border-radius: 5px;
	color: var(--clr-yellow);
	width: 50px;
	height: 50px;
}

.offer h3 {
	color: var(--clr-yellow);
}

.offer h2 {
	color: var(--clr-primary);
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-20px);
	}
	
	100% {
		transform: translateY(0);
	}
}


@media (max-width: 768px) {
	.hero {
		flex-direction: column;
		padding-top: 70px;
	}
	
	.hero img  {
		width: 300px;
	}
	
	.hero p {
		font-size: 14px;
	}
	
	.offer {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.offer-cards-wrapper {
		flex-direction: column;
	}
	
	.offer h3 {
		font-size: 1rem;
	}
	
	.offer h2 {
		margin: 15px 0;
	}
}
