.home-hero {
	min-height: calc(100vh - 100px);
	background-image: linear-gradient( to bottom , rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/home.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	display: flex;
	justify-content: space-between;
	color: white;
	padding: var(--global-padding);
	padding-top: 150px;
	padding-bottom: 50px;
	text-align: left !important;
}

.home-hero div:nth-child(1) {
	padding: 30px 0;
	flex-basis: 50%;
	text-align: left !important;
}

.home-hero div:nth-child(1) p:nth-child(1), .home-hero span {
	color: var(--clr-yellow);
	font-weight: bold;
}

.home-hero h1 {
	margin: 15px 0;
}

.home-hero div:nth-child(2) {
	margin: auto;
}

.home-hero img {
	width: 400px;
	height: auto;
}

.phone {
	animation: bounce 3s infinite;
}

.offer, 
.services, 
.reviews{
	padding: var(--global-padding);
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.offer h2, 
.services-intro h2, 
.reviews h2 {
	margin: 15px 0;
}

.offer-intro, 
.services-intro, 
.reviews-intro {
	max-width: 700px;
	margin: auto;
}

.offer-intro span, 
.services-intro span,
.reviews-intro span {
	color: var(--clr-yellow);
}

.offer-cards-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	gap: 30px;
}

.card {
	padding: 20px;
	border-radius: 10px;
	flex-basis: 31.5%;
	text-align: left;
	font-size: 14px;
	box-shadow: var(--box-shadow);
}

.card:nth-child(1) {
	background: var(--clr-primary);
	color: white;
}

.card:nth-child(2) {
	background: var(--clr-yellow);
}

.card:nth-child(1) {
	background: var(white);
}

.card-upper {
	display: flex;
	border-bottom: 1px solid grey;
	padding: 20px 0;
	gap: 20px;
}

.card-upper p:nth-child(1) {
	font-size: 20px;
	font-weight: bold;
}

.card-icons-wrapper {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 20px 0;
}

.card-icons-wrapper i {
	font-size: 25px;
}

.card-inline {
	display: flex;
	align-items: center;
}

.card-inline span {
	display: inline-block;
	margin-left: 5px;
}

.card div:nth-child(1) div:nth-child(1){
	flex-basis: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card div:nth-child(1) i {
	font-size: 25px;
}

.dollar-icon, .tablet-icon {
	background: var(--clr-yellow);
	border: none;
	border-radius: 5px;
	color: var(--clr-primary);
	width: 50px;
	height: 50px;
}

.fa-android, .fa-apple {
	color: var(--clr-yellow);
}

.privacy-icon {
	background: var(--clr-primary);
	border: none;
	border-radius: 5px;
	color: var(--clr-yellow);
	width: 50px;
	height: 50px;
}

.offer h3, 
.services h3
.reviews h3 {
	color: var(--clr-yellow);
}

.offer h2, 
.services h2
.reviews h2 {
	color: var(--clr-primary);
}

.experience {
	display: flex;
	color: white;
}

.experience > div:nth-child(1) {
	background-image: linear-gradient( to bottom , rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/experience.jpg');
}

.experience > div:nth-child(2) {
	background-image: linear-gradient( to bottom , rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/taxi.jpg');
}

.experience > div:nth-child(1), .experience > div:nth-child(2) {
	flex-basis: 50%;
	min-height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	padding: var(--global-padding);
	padding-top: 75px;
	padding-bottom: 75px;
}

.experience > div:nth-child(1) h3 {
	color: var(--clr-yellow);
}

.experience > div:nth-child(2) {
	position: relative;
}

.experience h2 {
	margin: 20px 0;
}

.experience span {
	color: var(--clr-yellow);
}

.experience-feedback {
	background: white;
	color: var(--clr-primary);
	position: absolute;
	bottom: -50px;;
	right: 0;
	z-index: 1;
	padding: 30px;
	border-radius: 10px 0 0 10px;
	width: 70%;
	box-shadow: var(--box-shadow);
}

.experience-feedback p {
	font-size: 14px;
	color: grey;
}

.experience-feedback h3 {
	margin-bottom: 10px;
}

.progress-wrapper {
	margin-top: 40px;
}

.progress {
	width: 100%;
	background: grey;
	border-radius: 3px;
	position: relative;
}

.progress-info {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 10px;
}

.bar-1, .bar-2, .bar-3, .bar-4 {
	width: 1%;
	height: 8px;
	background: var(--clr-yellow);
	border-radius: 5px;
	margin-bottom: 8px;
}

.services-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
	margin-top: 50px;
}

.services-cards h3 {
	color: black;
	margin: 25px 0 15px;
	font-size: 1rem;
	font-weight: 700;
}

.services-cards p {
	font-size: 14px;
	color: var(--clr-primary);
}

.services-cards > div {
	padding: 30px;
	border-radius: 25px;
	box-shadow: var(--box-shadow);
	text-align: left;
	cursor: pointer;
}

.services-cards > div i {
	padding: 15px;
	border-radius: 10px;
	background: var(--clr-primary);
	color: var(--clr-yellow);
}

.services-cards > div:hover {
	background: var(--clr-primary);
	color: white;
}

.services-cards > div:hover h3,
.services-cards > div:hover p {
	color: white;
}

.services-cards > div:hover i {
	background: var(--clr-yellow);
	color: var(--clr-primary);
}

.services-cards > div:nth-child(1) {
	background: var(--clr-primary);
}

.services-cards > div:nth-child(1)  i {
	background: var(--clr-yellow);
	color: var(--clr-primary);
}

.services-cards > div:nth-child(1) h3,
.services-cards > div:nth-child(1) p {
	color: white;
}

.services-cards i {
	font-size: 30px;
}

.reviews {
	background: linear-gradient( to bottom , rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/review.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	color: white;
	position: relative;
	padding-bottom: 350px;
}

.reviews h3 {
	color: var(--clr-yellow);
}

.reviews-slider {
	position: absolute;
	bottom: -75px;
	left: 50%;
	transform: translateX(-50%);
}

.reviews-slider-wrapper {
	position: relative;
	height: 300px;
}

.review {
	width: 350px;
	height: 350px;
	position: absolute;
	bottom: 0;
	transform: translateX(calc(200% + 100px));
	transition: 1s all ease-in-out;
	box-shadow: var(--box-shadow);
	background: white;
	border-radius: 20px;
	padding: 30px;
}

.review p {
	color: grey;
	font-size: 14px;
	margin: 20px 0 40px;
}

.review h3 {
	color: black;
	font-size: 15px;
}

.review span {
	color: var(--clr-yellow);
}

.review div {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}

.left {
	transform: translateX(calc(-150% - 50px));
}

.right {
	transform: translateX(calc(50% + 50px));
}

.current {
	transform: translateX(-50%);
}

.prev {
	transform: translateX(calc(-200% - 100px));
	opacity: 0;
}

.next {
	opacity: 0;
}

.review img {
	width: 75px;
	border-radius: 50%;
}


@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-20px);
	}
	
	100% {
		transform: translateY(0);
	}
}


@media (max-width: 768px) {
	.home-hero {
		flex-direction: column;
		padding-top: 70px;
	}
	
	.home-hero img  {
		width: 300px;
	}
	
	.home-hero p {
		font-size: 14px;
	}
	
	.offer, 
	.services {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.reviews {
		padding-top: 50px;
	}
	
	.review {
		width: 320px;
	}
	
	.offer-cards-wrapper {
		flex-direction: column;
	}
	
	.offer h3 , 
	.services h3,
	.reviews h3{
		font-size: 1rem;
	}
	
	.experience {
		flex-direction: column;
	}
	
	.experience-feedback {
		width: 90%;
		border-radius: 10px;
		margin: auto;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.experience h3 {
		font-size: 1.2rem;
	}
	
	.experience-feedback p {
		font-size: 0.8rem;
	}
	
	.services-cards {
		grid-template-columns: 1fr;
	}
}
