{% extends 'rides/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
	<!-- <link rel="stylesheet" href="{% static 'css/account-main.css' %}"> -->
	<link rel="stylesheet" href="/static/css/account-main.css?cache_id=34434803">
{% endblock %}
{% block content %}
	<section class="login-form-wrapper">
	<div>
		<div>
			<h2>Welcome Back!</h2>
			<p>Don't have an account? <a href="/accounts/register">Sign Up Now!</a></p>
		</div>
		{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			{{ form.errors }}
		</div>
		{% endif %}
		<form method="post" >
			{% csrf_token %}
			<p class="form-group">
        		<label for="{{ form.username.id_for_label }}">Username</label>
        		{{ form.username|attr:"class:form-control"|attr:"required:true" }}
    		</p>
    		<p class="form-group">
        		<label for="{{ form.password.id_for_label }}">Password</label>
        		<div class="password-wrapper">
        			{{ form.password|attr:"class:form-control password"|attr:"required:true" }}
        			<div class="password-toggler"><i>S</i></div>
        		</div>
    		</p>
			<div class="forgot-password"><a href="#">Forgot Password?</a></div>
			<button type="submit" class="login-btn">Sign in</button>
		</form>
	</div>
	</section>
	<script>
		const togglerEl = document.querySelector(".password-toggler");
		const passwordEl = document.querySelector(".password");
		
		togglerEl.addEventListener("click", () => {
			if (passwordEl.type == "password") {
				togglerEl.innerHTML = 'H'
				passwordEl.type = "text";
			} else {
				togglerEl.innerHTML = 'S'
				passwordEl.type = "password";
			}
		})
	</script>
{% endblock %}
