.login-form-wrapper {
	padding: 100px 25px 75px 25px;
	background-color: rgba(0, 0, 0, 0.01);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login-form-wrapper > div:nth-of-type(1) {
	display: block;
	width: 100%;
	max-width: 450px;
}

.login-form-wrapper h2 {
	margin: 10px 0;
}

.login-form-wrapper  div  a {
	text-decoration: none;
	color: blue;
	margin-left: 5px;
}

form {
	margin: 30px 0px;
}

form p {
	margin: 25px 0px;
}

label {
	display: block;
	color: rgba(0, 0, 0, 0.6);
}

input {
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent !important;
	padding: 0px;
	font-size: 16px;
}

input:focus {
	outline: none;
}

form div{
	text-align: right;
}

form a{
	text-decoration: none;
	color: grey !important;
}

.login-btn {
	width: 100%;
	height: 40px;
	border-radius: 20px;
	margin-top: 20px;
	border: none;
	font-size: 18px;
	background: linear-gradient(to right, #ebb125, #FDB810);
	cursor: pointer;
	box-shadow: var(--box-shadow);
}

.alert {
	margin: 10px 0px;
	text-align: left;
	color: red;
}

.alert > .errorlist > li {
	font-size: 0px !important;
	list-style: none;
}

.alert > .errorlist > li ul{
	font-size: 12px;
}

.alert > .errorlist > li ul li {
	list-style: none;
}


@media (min-width: 768px) {
	form {
		margin: 50px 0;
	}
	
	form p {
		margin: 35px 0px;
	}
}
