{% extends 'rides/main.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
	<link rel="stylesheet" href="/static/css/about.css?cache_id={{ context.cache_id }}}"/>
	<script src="{% static 'js/about.js' %}" defer ></script>
{% endblock %}
{% block content %}
	<section class="about-hero">
		<div>
			<h2>About<span class="dot">.</span></h2>
			<div>
				<a href="/"><span>Home</span></a>
				<i class="fas fa-chevron-right"></i>
				<span>About</span>
			</div>
		</div>
	</section>
	<section class="main-wrapper">
		<div class="main">
			<div>
				<h4>About CoRider</h4>
				<h1>Trusted Cab Service All Over The World <span class="dot">.</span></h1>
				<p>
					CoRider is dedicated to providing safe, reliable, and cost-effective transportation solutions for commuters, travelers, and anyone in need of a ride, with a global network of trusted drivers and a commitment to exceptional customer service.
				</p>
				<div class="ul-wrapper">
					<ul>
						<li><i class="fas fa-check"></i><span>Flexible & Cost-Effective</span></li>
						<li><i class="fas fa-check"></i><span>VIP & Annual Pass Services</span></li>
						<li><i class="fas fa-check"></i><span>Over 250,000 Clients</span></li>
						<li><i class="fas fa-check"></i><span>Satisfaction Guarantee</span></li>
					</ul>
					<ul>
						<li><i class="fas fa-check"></i><span>Company Contract</span></li>
						<li><i class="fas fa-check"></i><span>Convenient Location</span></li>
						<li><i class="fas fa-check"></i><span>Home Pickup</span></li>
						<li><i class="fas fa-check"></i><span>One Way Rental</span></li>
					</ul>
				</div>
				<div class="cta">
					<div><img src="{% static '/images/cta-photo.jpg' %}" alt=""/></div>
					<div class="about-cta">
						<h5>We Are Available 24 Hours</h5>
						<p>For Booking :<span class="dot" style="font-weight: bold;">(+234) 915 354 7755</span></p>
					</div>
				</div>
			</div>
			<div class="about-images">
				<img src="{% static '/images/about-right.jpg' %}" alt="">
				<img src="{% static '/images/about-right-2.jpg' %}" alt="">
			</div>
		</div>
		<div class="offer-cards-wrapper">
			<div class="card">
				<div class="card-upper">
					<div class="dollar-icon"><i class="fas fa-dollar-sign"></i></div>
					<div >
						<p style="color: white;" >Payment Integration</p>
						<p style="color: white;">Secure and hassle-free</p>
					</div>
				</div>
				<div class="card-icons-wrapper">
					<span><i class="fas fa-brands fa-cc-mastercard"></i></span>
					<span><i class="fas fa-brands fa-cc-visa"></i></span>
					<span><i class="fas fa-brands fa-cc-stripe"></i></span>
					<span><i class="fas fa-brands fa-cc-paypal"></i></span>
				</div>
			</div>
			<div class="card">
				<div class="card-upper">
					<div class="privacy-icon"><i class="fas fa-shield-alt"></i></div>
					<div>
						<p>Safety First</p>
						<p style="color: black;">Your safety is out top priority</p>
					</div>
				</div>
				<div class="card-icons-wrapper">
					<span class="card-inline"><i class="fas fa-credit-card"></i><span>Gurantee </span></span>
					<span class="card-inline"><i class="fas fa-car"></i><span>Quick ride </span></span>
				</div>
			</div>
			<div class="card">
				<div class="card-upper">
					<div class="tablet-icon"><i class="fas fa-tablet"></i></div>
					<div>
						<p>100% Digital</p>
						<p style="color: #6d6d6d;">Streamlined digital experience</p>
					</div>
				</div>
				<div class="card-icons-wrapper">
					<span class="card-inline"><i class="fas fa-brands fa-apple" style="color: #FDB813"> </i><span>Apple</span> </span>
					<span class="card-inline"><i class="fas  fa-brands fa-android" style="color: #FDB813"></i><span>Android</span> </span>
				</div>
			</div>
		</div>
	</section>
	<section class='show'>
		<h4>Let's Ride With Us</h4>
		<h1>Enjoy Your Luxury Taxi With Low Prices<span class="dot">.</span></h1>
		<p>
			Relax in comfort and arrive in style while saving money with our reliable carpooling service. Book your ride today and experience the difference!
		</p>
		<img src="{% static 'images/taxi-2.png'%}"/>
	</section>
	<section class="steps">
		<h4>How We Work</h4>
		<h1>Easy Steps For Booking A Ride<span class="dot">.</span></h1>
		<p>
			Simply enter your pickup and dropoff locations, select a ride, and confirm your booking. It's that easy!
		</p>
		<ul class="steps-list">
			<li>
				<div>
					<i class="fas fa-light fa-location"></i>
				</div>
				<h3>Select Destination</h3>
				<p>
					Choose your desired destination for the ride.
				</p>
			</li>
			<li>
				<div>
					<i class="fas fa-light fa-car"></i>
				</div>
				<h3>Get A Match</h3>
				<p>
					Once you request a ride, we'll match you with a suitable driver.
				</p>
			</li>
			<li>
				<div>
					<i class="fas fa-light fa-wallet"></i>
				</div>
				<h3>Pay For Ride</h3>
				<p>
					Easily pay for your ride through our secure payment system.
				</p>
			</li>
			<li>
				<div>
					<i class="fas fa-light fa-award"></i>
				</div>
				<h3>Enjoy Your Ride</h3>
				<p>
					Sit back, relax, and enjoy your comfortable ride.
				</p>
			</li>
		</ul>
	</section>
	<section class="experience" style="flex-direction: column;">
		<h4>Our Experience</h4>
		<h1>We have been providing great carpooling service since 2004<span class="dot">.</span></h1>
		<p style="margin-top: 0">
			Relax in comfort and arrive in style while saving money with our reliable carpooling service. Book your ride today and experience the difference!
		</p>
		<div class="experience-metric">
			<div>
				<h1>
					<span class="counter" data-number="167">0</span>
					<i class="fas fa-plus"></i>
				</h1>
				<p>Our Taxi Units</p>
			</div>
			<div>
				<h1>
					<span class="counter" data-number="2820">0</span>
					<i class="fas fa-plus"></i>
				</h1>
				<p>Happy Customers</p>
			</div>
			<div>
				<h1>
					<span class="counter" data-number="25">0</span>
					<i class="fas fa-plus"></i>
				</h1>
				<p>Years Of Experience</p>
			</div>
			<div>
				<h1>
					<span class="counter" data-number="1825">0</span>
					<i class="fas fa-plus"></i>
				</h1>
				<p>App Downloads</p>
			</div>
		</div>
	</section>
	<section class="team">
		<div>
			<h4>Our Team</h4>
			<h1>Meet Our Expert Team<span class="dot">.</span></h1>
			<p>Our team is made up of experienced professionals who are passionate about providing safe, reliable, and affordable carpooling solutions.</p>
			<a href="/team">Show All Team</a>
		</div>
		<div class="team-ceo team-card">
			<div>
				<p>Hope Iyamu</p>
				<h5>CoRider Founder</h5>
			</div>
		</div>
		<div class="team-manager team-card">
			<div>
				<p>Jesse Livermore</p>
				<h5>CoRider Manager</h5>
			</div>
		</div>
	</section>
{% endblock %}
