{% extends 'rides/main.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/contact.css' %}"/>
{% endblock %}
{% block content %}
	<section class="contact hero-alt">
		<div>
			<h1>Contact<span>.</span></h1>
			<div>
				<p>Home</p>
				<span> > </span>
				<p>Contact</p>
			</div>
		<div>
	</section>
	<section>
		<div>
			<h3>Contact Us</h3>
			<h2>Get in touch<span>.</span></h2>
			<p>
			
			</p>
			<div>
				<i class="fas "></i>
				<div>
					<h3>Location</h3>
					<p>1234 Horpeazy Street Benin City, Nigeria</p>
				</div>
			</div>	
			<div>
				<i class="fas "></i>
				<div>
					<h3>Phone</h3>
					<p>+(234) 90 53547755</p>
				</div>
			</div>	
			<div>
				<i class="fas "></i>
				<div>
					<h3>Email</h3>
					<p>contact@hopeiyamu.tech</p>
				</div>
			</div>	
		</div>
		<div>
		
		</div>
	</section>
{% endblock %}
