{% extends 'rides/main.html' %}
{% load static %}
{% block head %}
	<!-- <link rel="stylesheet" href="{% static 'css/team.css' %}"/> -->
	<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/team.css' %}"/>
	<script src="{% static 'js/slider.js' %}" defer></script>
{% endblock %}
{% block content %}
	<section class='hero' style="background-image: linear-gradient( to bottom , rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/home.jpg');">
		<div style="text-align: left">
			<p>Most trusted carpooling service</p>
			<h1>Enjoy Your Comfortable Trip<span>.</span></h1>
			<p>
			   Join the thousands of satisfied riders who have chosen
			   our trusted carpooling service and experience the comfort
			   and convenience of a stress-free commute.
			</p>
		</div>
		<div>
			<img src="{% static '/images/phone.png' %}" alt="mobile-app-image" class="phone"/>
		</div>
	</section>
	<section class="offer">
		<div class="offer-intro">
			<h3>What We Offer</h3>
			<h2>We Offer The Best For You<span>.</span></h2>
			<p>
				Discover the ultimate carpooling experience with our app - enjoy
				seemless ride-sharing, reduced travel costs, and a greener tomorrow. Join us today!   
			</p>
		</div>
		<div class="offer-cards-wrapper">
			<div class="card">
				<div class="card-upper">
					<div class="dollar-icon"><i class="fas fa-dollar-sign"></i></div>
					<div>
						<p>Payment Integration</p>
						<p>Secure and hassle-free</p>
					</div>
				</div>
				<div class="card-icons-wrapper">
					<span><i class="fas fa-brands fa-cc-mastercard"></i></span>
					<span><i class="fas fa-brands fa-cc-visa"></i></span>
					<span><i class="fas fa-brands fa-cc-stripe"></i></span>
					<span><i class="fas fa-brands fa-cc-paypal"></i></span>
				</div>
			</div>
			<div class="card">
				<div class="card-upper">
					<div class="privacy-icon"><i class="fas fa-shield-alt"></i></div>
					<div>
						<p>Safety First</p>
						<p>Your safety is out top priority</p>
					</div>
				</div>
				<div class="card-icons-wrapper">
					<span class="card-inline"><i class="fas fa-credit-card"></i><span>Gurantee </span></span>
					<span class="card-inline"><i class="fas fa-car"></i><span>Quick ride </span></span>
				</div>
			</div>
			<div class="card">
				<div class="card-upper">
					<div class="tablet-icon"><i class="fas fa-tablet"></i></div>
					<div>
						<p>100% Digital</p>
						<p>Streamlined digital experience</p>
					</div>
				</div>
				<div class="card-icons-wrapper">
					<span class="card-inline"><i class="fas fa-brands fa-apple" style="color: #FDB813"> </i><span>Apple</span> </span>
					<span class="card-inline"><i class="fas  fa-brands fa-android" style="color: #FDB813"></i><span>Android</span> </span>
				</div>
			</div>
		</div>
	</section>
	<section class="experience">
		<div>
			<h3>Our Experience</h3>
			<h2>We Are Experienced Since 1992 Until Now<span>.</span></h2>
			<p>
				Over the past 30 years, we have provided safe and reliable transportation
				to millions of satisfied customers. 
			</p>
			<div class="progress-wrapper">
				<div>
					<div class="progress-info">
						<div>Taxi Quality</div>
						<div class="progress-meter-1">0%</div>
					</div>
					<div class="progress">
						<div class="bar-1"></div>
					</div>
				</div>
				<div>
					<div class="progress-info">
						<div>Professional Driver</div>
						<div class="progress-meter-2">0%</div>
					</div>
					<div class="progress">
						<div class="bar-2"></div>
					</div>
				</div>
				<div>
					<div class="progress-info">
						<div>Affordable Pricing</div>
						<div class="progress-meter-3">0%</div>
					</div>
					<div class="progress">
						<div class="bar-3"></div>
					</div>
				</div>
				<div>
					<div class="progress-info">
						<div>Easy booking</div>
						<div class="progress-meter-4">0%</div>
					</div>
					<div class="progress">
						<div class="bar-4"></div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="experience-feedback">
				<h3>We Provide Best Taxi</h3>
				<p>
					Our commitment to excellence is evident in every aspect of our service.
					From our well-maintained vehicles to our highly trained drivers, we go the extra
					mile to ensure that every ride is comfortable, safe, and reliable.
				</p>
			</div>
		</div>
	</section>
	
	<section class="services">
		<div class="services-intro">
			<h3>Our Services</h3>
			<h2>Interesting Services For You<span>.</span></h2>
			<p>
				Discover a variety of useful and unique services on our carpooling app that can help you save money,
				reduce your carbon footprint, and make new connections.
			</p>
		</div>
		<div class="services-cards">
			<div>
				<div><i class="fas fa-credit-card"></i></div>
				<h3>Online Payment</h3>
				<p>
					Our online payment service allows you to easily and securely pay for your carpool ride with just
					a few clicks, giving you peace of mind and saving you time.
				</p>
			</div>
			<div>
				<div><i class="fas fa-shield"></i></div>
				<h3>Safety Guarantee</h3>
				<p>
					Our safety guarantee means that we take your safety seriously, and we use a range of measures such
					as driver background checks and vehicle inspections to ensure that every ride is safe and secure.
				</p>
			</div>
			<div>
				<div><i class="fas fa-bolt"></i></div>
				<h3>Quick ride</h3>
				<p>
					With our quick ride service, you can get to your destination faster than ever before, thanks to our
					optimized routes and real-time traffic updates.
				</p>
			</div>
			<div>
				<div><i class="fa-solid fa-pencil"></i></div>
				<h3>Free Quotation</h3>
				<p>
					 Get a free quotation for your carpool ride with just a few clicks, so you can easily compare prices
					 and choose the option that works best for you.
				</p>
			</div>
			<div>
				<div><i class="fas fa-solid fa-medal"></i></div>
				<h3>Cleared Drivers</h3>
				<p>
					Our cleared drivers are carefully vetted and undergo regular background checks to ensure that they
					are trustworthy and reliable, giving you peace of mind during your ride.
				</p>
			</div>
			<div>
				<div><i class="fas fa-tag"></i></div>
				<h3>Discount & Promo</h3>
				<p>
					Take advantage of our regular discounts and promotions to save money on your carpool ride, and enjoy
					a great deal while getting to your destination quickly and safely.
				</p>
			</div>
		</div>
	</section>
	<section class="reviews" >
		<div>
			<h4>Customer Feedback</h4>
			<h2>Our Customer Reviews<span class="dot">.</span></h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit necessitatibus quaerat hic molestiae error odit praesentium aliquid tenetur, dolore cum dolores itaque, veniam ea voluptates!</p>
		</div>
		<div class="slider">
			<div>
				<div class="left slide" data-id="0">
						<div>
							<img src="{% static 'images/review.jpg' %}" alt="reviewer-image">
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam libero sit illum, assumenda soluta non sed ipsum reiciendis delectus. Deserunt dolore aperiam reprehenderit nisi perferendis?
							</p>
							<div>
								<h4>Lisa Stedman-falls</h4>
								<p class="title">Entrepeneur</p>
							</div>
						</div>
				</div>
				<div class="center slide" data-id="1">
					<div>
						<img src="{% static 'images/review2.jpg' %}" alt="reviewer-image">
						<p>
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum earum itaque pariatur maiores velit iste officia at, vel ullam nulla explicabo quas magni quaerat asperiores.
						</p>
						<div>
							<h4>Carly Taylor</h4>
							<p class="title">CEO Brand</p>
						</div>
					</div>
				</div>
				<div class="right slide" data-id="2">
					<div>
						<img src="{% static 'images/review3.jpg' %}" alt="reviewer-image">
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore quia laudantium cupiditate, eligendi blanditiis. Voluptatem optio, doloribus aspernatur iste in necessitatibus consequuntur repudiandae rem.
						</p>
						<div>
							<h4>Xavier Mueller</h4>
							<p class="title">Entrepeneur</p>
						</div>
					</div>
				</div>
				<div class="next slide" data-id="3">
					<div>
						<img src="{% static 'images/review4.jpg' %}" alt="reviewer-image">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, animi asperiores laboriosam dolor qui suscipit accusantium ipsa explicabo cumque perferendis atque excepturi eum vel fugit!
						</p>
						<div>
							<h4>Mary Kaufman</h4>
							<p class="title">Student</p>
						</div>
					</div>
				</div>
				<div class="prev slide" data-id="4">
					<div>
						<img src="{% static 'images/review5.jpg' %}" alt="reviewer-image">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quidem blanditiis dignissimos consectetur omnis minus fuga veritatis sapiente, animi nesciunt pariatur officiis, nemo, optio laborum!
						</p>
						<div>
							<h4>Jordan Peterson</h4>
							<p class="title">Clinical Psychologist</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		const progressWrapper = document.querySelector(".progress-wrapper");
		let animated = false;
		const ratings = [
			{
				name: "Taxi Quality",
				id: 1,
				percentage: 96
			},
			{
				name: "Professional Driver",
				id: 2,
				percentage: 86
			},
			{
				name: "Affordable Pricing",
				id: 3,
				percentage: 82
			},
			{
				name: "Easy Booking",
				id: 4,
				percentage: 86
			}
		]
		
		function move(percentage, bar, meter) {
			let width = 1;
			let id = setInterval(frame, 20);
			function frame() {
				if (width >= percentage) {
					clearInterval(id);
				} else {
					width++;
					bar.style.width = width + "%";
					meter.innerHTML = width + "%";
				}
			}
		}
		
		const observer = new IntersectionObserver( entries => {
			entries.forEach(entry => {
				if (entry.isIntersecting & !animated) {
					ratings.forEach((rating) => {
						const progressBar = document.querySelector(`.bar-${rating.id}`);
						const progressMeter = document.querySelector(`.progress-meter-${rating.id}`);
						move(rating.percentage, progressBar, progressMeter);
					});
					animated = true;
				}
			})
		})
		
		observer.observe(progressWrapper);
	</script>
	
	<!-- <script>
		let current = 1;
		let left, right, next, prev;
		
		setInterval(slide, 3000);
		
		function slide() {
			if ( current == 0 ) {
				left = 5;
				prev = 4;
			} else {
				left = current - 1;
				if ( left == 0 ) {
					prev = 5;
				} else {
					prev = left - 1;
				}
			}
			
			if ( current == 5 ) {
				right = 0;
				next = 1;
			} else {
				right = current + 1;
				if ( right == 5) {
					next = 0;
				} else {
					next = right + 1;
				}
			}
			
			const leftEl = document.querySelector(`.slide-${left}`);
			const rightEl = document.querySelector(`.slide-${right}`);
			const currentEl = document.querySelector(`.slide-${current}`);
			const prevEl = document.querySelector(`.slide-${prev}`);
			const nextEl = document.querySelector(`.slide-${next}`);
			
			currentEl.classList.remove("current");
			currentEl.classList.add("left");
			leftEl.classList.remove("left");
			leftEl.classList.add("prev");
			rightEl.classList.remove("right")
			rightEl.classList.add("current");
			prevEl.classList.remove("prev");
			prevEl.classList.add("next");
			nextEl.classList.remove("next");
			nextEl.classList.add("right");
			
			current = right;
		}
	</script> -->
{% endblock %}
