{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <title>CoRider - {{ title }}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="nav-info">
            <p class="info-dig">
                <span class="nav-icons">
                    <i class="fas fa-solid fa-envelope"></i><span>support@corider.com</span>
                <span class="nav-icons">
                    <i class="fas fa-solid fa-phone"></i><span>(+234) 915 354 7755</span>
                </span>
            </p>
            <p>We Provide <span>The Best Service & Discounts</span> For You</p>
        </div>
        <div class="nav-bar">
            <div><img src="{% static 'images/logo.png' %}" alt="logo"> </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if request.user.is_authenticated %}
                	<li><a href="/account">Dashboard</a></li>
                {% else %}
                	<li><a href="/accounts/login">Login</a></li>
                {% endif %}
            </ul>
            <a href="/ride" class="ride">Let's ride now!</a>
            <button class="open"><i class="fas fa-bars"></i></button>
        </div>
    </nav>
    <section class="sidebar">
    	<div>
    		<img src="{% static 'images/logo.png' %}" alt="logo">
    		<span class="close"><i class="fas fa-close"></i></span>
    	</div>
    		<li><a href="/">Home</a></li>
            <li><a href="/team">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/team">Our Team</a></li>
            <li><a href="/contact">Contact</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="/account">Dashboard</a></li>
            {% else %}
               	<li><a href="/accounts/login">Login</a></li>
            {% endif %}
        </ul>
    </section>
    {% block content %}
    {% endblock %}
    
    <section class="pre-footer">
    	<p>Call 24 Hour Service Available</p>
    	<h2>Call Now & Book Your Taxi For Your Next Ride.</h2>
    	<div>
    		<i class="fa-solid fa-square-phone" style="font-size: 50px;"></i>
    		<p class="number">(+234) 915 354 7755</p>
    	</div>
    </section>
    
    <footer>
    	<section>
    		<div>
    			<h3>Address</h3>
    			<p>Benin City,</p>
    			<p>Edo State, Nigeria.</p>
    		</div>
    		<div>
    			<h3>Contact</h3>
    			<p>contact@hopeiyamu.tech</p>
    			<p>(+234) 915 354 7755</p>
    		</div>
    		<div>
    			<h3>Work</h3>
    			<p>Mon - Sat: 8:00 - 18:00</p>
    			<p>Sun: 9:00 - 18:00</p>
    		</div>
    		<div class="newsletter">
    			<h3>Newsletter</h3>
    			<form class="email-subscription-form" method='post'>
    				<input type='text' name='subscribe' id='subscribe' placeholder="Email address" required>
    				<button><i class="fas fa-paper-plane"></i></button>
    			</form>
    		</div>
    	</section>
    	<section>
    		<div>
    			&copy 2023 CoRider
    		</div>
    		<div>
    			<img src="{% static 'images/logo-footer.png' %}"/>
    		</div>
    		<div>
    			<a href="/privacy">Privacy Policy</a>
    			<a href="/terms">Terms & Conditions</a>
    		</div>
    	</section>
    </footer>
    <script>
    	const closeEl = document.querySelector('.close');
    	const openEl = document.querySelector('.open');
    	const sidebarEl = document.querySelector('.sidebar');
    	const formEl = document.querySelector('.email-subscription-form')
    	const emailInputEl = document.querySelector('#subscribe')
    	
    	closeEl.addEventListener('click', () => {
    		sidebarEl.style.left = '-100vw';
    	})
    	
    	openEl.addEventListener('click', () => {
    		sidebarEl.style.left = "0px";
    	})
    	
    	formEl.addEventListener('submit', (e) => {
    		e.preventDefault();
    		email = emailInputEl.value;
    		fetch('/api/v1/subscription/create/', {
    			method: 'POST',
    			body: JSON.stringify({
    				email: email
    			})
    		})
    		.then(res => {
    			if ( res.ok ) {
    				emailInputEl.value = ''
    				alert('Your email has been added to the subscription list.')
    			} else {
    				alert('We could not add your email to our subscription list. Maybe try again')
    			}
    		})
    		.catch(error => {
    			console.log(error);
    		})
    	})
    </script>
</body>
</html>
