{% extends 'rides/main.html' %}
{% load static %}
{% load humanize %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/privacy.css' %}" />
{% endblock %}
{% block content %}
<section class="privacy">
	<h2>Privacy Policy</h2>

	<p>
		At CoRider, we take your privacy very seriously. We want you to feel secure and confident when you use our carpooling application. 
		This privacy policy explains how we collect, use, and protect your personal information when you use our application. By using our 
		application, you agree to the terms of this privacy policy.
	</p>

	<h3>What Information Do We Collect?</h3>
	<p>We collect the following types of information when you use our carpooling application:</p>
	<ul>
	<li>
		Personal Information: We collect your name, email address, phone number, and other personal information 
		that you provide to us when you sign up for our application. We also collect information about your location 
		and the location of your trips when you use our application.
	</li>

	<li>
		Payment Information: If you use our payment system, we collect your payment information, such as your credit
	 	card number, to process payments.
	 </li>

	<li>
		Usage Information: We collect information about how you use our application, such as the times and dates of your trips, 
		the number of passengers you pick up, and other information related to your use of our service.
	</li>
	</ul>
	<h3>How Do We Use Your Information?</h3>
	<ul>
		<li>
			We use the information we collect to provide you with our carpooling service and to improve our application. 
			Specifically, we use your information for the following purposes:
		</li>
		<li>
			To Connect Riders and Drivers: We use your location and trip information to match riders with drivers and to facilitate carpooling.
		</li>
		<li>
			To Process Payments: If you use our payment system, we use your payment information to process payments for your trips.
		</li>
		<li>
			To Improve Our Service: We use your usage information to improve our application and to make our carpooling service more 
			efficient and effective.
		</li>
		<li>
			To Communicate With You: We use your contact information to communicate with you about our service, including updates, 
			promotions, and other relevant information.
		</li>
	</ul>
	<h3>How Do We Protect Your Information?</h3>
	<p>
		We take security and privacy seriously and take appropriate measures to protect your information from unauthorized access, 
		use, or disclosure. We use a variety of security technologies and procedures to help protect your information from unauthorized 
		access, use, or disclosure. We also use secure communication channels to protect your information while it is in transit over the internet.
	</p>
	<h3>Do We Share Your Information With Third Parties?</h3>
	<p>
		We do not sell or rent your personal information to third parties. We may share your information with third parties
		in the following circumstances:
	</p>
	<ul>
		<li>
			Service Providers: We may share your information with service providers who help us provide our carpooling service,
			such as payment processors or data analytics providers.
		</li>

		<li>
			Legal Compliance: We may share your information with law enforcement agencies, government agencies, or other third
			parties as required by law or to protect our legal rights.
		</li>
	</ul>
	<h3>How Can You Control Your Information?</h3>
	<p>
		You have certain rights with respect to your personal information, including the right to access, correct, or delete 
		your information. You can do this by logging into your account and updating your information or by contacting us at 
		contact@corider.com. You can also opt out of receiving promotional emails from us by clicking the "unsubscribe" link 
		at the bottom of any promotional email.
	</p>
	<h3>Changes to This Privacy Policy</h3>
	<p>
		We may update this privacy policy from time to time to reflect changes in our practices or to comply with legal requirements.
		We will notify you of any material changes to this privacy policy by posting a notice on our website or by sending you an email. 
		Your continued use of our carpooling application after any such changes constitutes your acceptance of the revised privacy policy.
	</p>

	<h3>Contact Us</h3>
	<p>
		If you have any questions or concerns about this privacy policy, please contact us at contact@corider.com.
	</p>

	<h3>Conclusion</h3>

	<p>
		We hope that this privacy policy helps you to understand how we collect, use, and protect your personal information. 
		We take our users' privacy seriously and are committed to safeguarding your personal information. By using our carpooling 
		application, you acknowledge that you have read and understood this privacy policy, and that you agree to our practices 
		described herein. If you have any questions or concerns about our privacy practices, please do not hesitate to contact us. 
		Thank you for choosing our carpooling application!
	</p>
</section>
{% endblock %}

