{% extends 'rides/main.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'css/services.css' %}"> -->
	<link rel="stylesheet" href="/static/css/services.css?cache_id={{ context.cache_id }}">
{% endblock %}
{% block content %}
<section class="hero">
	<div>
		<h2>Services<span class="dot">.</span></h2>
		<div>
			<a href="/"><span>Home</span></a>
			<i class="fas fa-chevron-right"></i>
			<span>Services</span>
		</div>
	</div>
</section>
<section class="services">
	<div class="services-intro">
		<h3>Our Services</h3>
		<h2>Interesting Services For You<span>.</span></h2>
		<p>
			Discover a variety of useful and unique services on our carpooling app that can help you save money,
			reduce your carbon footprint, and make new connections.
		</p>
	</div>
	<div class="services-cards">
		<div>
			<div><i class="fas fa-credit-card"></i></div>
			<h3>Online Payment</h3>
			<p>
				Our online payment service allows you to easily and securely pay for your carpool ride with just
				a few clicks, giving you peace of mind and saving you time.
			</p>
		</div>
		<div>
			<div><i class="fas fa-shield"></i></div>
			<h3>Safety Guarantee</h3>
			<p>
				Our safety guarantee means that we take your safety seriously, and we use a range of measures such
				as driver background checks and vehicle inspections to ensure that every ride is safe and secure.
			</p>
		</div>
		<div>
			<div><i class="fas fa-bolt"></i></div>
			<h3>Quick ride</h3>
			<p>
				With our quick ride service, you can get to your destination faster than ever before, thanks to our
				optimized routes and real-time traffic updates.
			</p>
		</div>
		<div>
			<div><i class="fa-solid fa-pencil"></i></div>
			<h3>Free Quotation</h3>
			<p>
				 Get a free quotation for your carpool ride with just a few clicks, so you can easily compare prices
				 and choose the option that works best for you.
			</p>
		</div>
		<div>
			<div><i class="fas fa-solid fa-medal"></i></div>
			<h3>Cleared Drivers</h3>
			<p>
				Our cleared drivers are carefully vetted and undergo regular background checks to ensure that they
				are trustworthy and reliable, giving you peace of mind during your ride.
			</p>
		</div>
		<div>
			<div><i class="fas fa-tag"></i></div>
			<h3>Discount & Promo</h3>
			<p>
				Take advantage of our regular discounts and promotions to save money on your carpool ride, and enjoy
				a great deal while getting to your destination quickly and safely.
			</p>
		</div>
	</div>
</section>
<section class="experience">
	<div>
		<h3>Our Experience</h3>
		<h2>We Are Experienced Since 1992 Until Now<span>.</span></h2>
		<p>
			Over the past 30 years, we have provided safe and reliable transportation
			to millions of satisfied customers. 
		</p>
		<div class="progress-wrapper">
			<div>
				<div class="progress-info">
					<div>Taxi Quality</div>
					<div class="progress-meter-1">0%</div>
				</div>
				<div class="progress">
					<div class="bar-1"></div>
				</div>
			</div>
			<div>
				<div class="progress-info">
					<div>Professional Driver</div>
					<div class="progress-meter-2">0%</div>
				</div>
				<div class="progress">
					<div class="bar-2"></div>
				</div>
			</div>
			<div>
				<div class="progress-info">
					<div>Affordable Pricing</div>
					<div class="progress-meter-3">0%</div>
				</div>
				<div class="progress">
					<div class="bar-3"></div>
				</div>
			</div>
			<div>
				<div class="progress-info">
					<div>Easy booking</div>
					<div class="progress-meter-4">0%</div>
				</div>
				<div class="progress">
					<div class="bar-4"></div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="experience-feedback">
			<h3>We Provide Best Taxi</h3>
			<p>
				Our commitment to excellence is evident in every aspect of our service.
				From our well-maintained vehicles to our highly trained drivers, we go the extra
				mile to ensure that every ride is comfortable, safe, and reliable.
			</p>
		</div>
	</div>
</section>

<section class="inquiries">
	<div>
		<img src="{% static 'images/faq.jpg'%}" alt="woman" >
		<div>

		</div>
	</div>
	<div>
		<h4>Client Inquiries</h4>
		<h2>Related Questions <span class="dot">.</span></h2>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et eos laudantium nam cumque aperiam repellat? Accusamus harum enim ducimus corrupti! Saepe laudantium beatae impedit. Vel nisi ex alias ad culpa.
		</p>
		<div class="faq">
			<div>
				<div class="show question">
					<i class="fas fa-chevron-right"></i>
					<span>How can I reach the customer support staff?</span>
				</div>
				<p>
					To reach the customer support staff, navigate to the contact page from the 
					navigation bar on this page. Leave a message with the contact form and a chat
					ticket will be sent to your email. Our response is usually within 24 hours.
				</p>
			</div>
			<div>
				<div class="question">
					<i class="fas fa-chevron-right"></i>
					<span>How can I become a Driver?</span>
				</div>
				<p>
					It's very easy to be a driver on CoRider. Just sign up and submit the
					necessary information about your vehicle for you to get verified. You
					can then start a ride as a driver.
				</p>
			</div>
			<div>
				<div class="question">
					<i class="fas fa-chevron-right"></i>
					<span>How do you calculate the cost for the ride?</span>
				</div>
				<p>
					The cost of a ride per km is fixed. This has been calculated considering the current gas prices
					and a fair incentive for the drivers. You can share the cost of a ride with your CoRider. All 
					payments are made directly to drivers and there are no hidden charges for us. You can view our Pricing
					page for more information.
				</p>
			</div>
		</div>
	</div>
</section>

<script>
	const progressWrapper = document.querySelector(".progress-wrapper");
	let animated = false;
	const ratings = [
		{
			name: "Taxi Quality",
			id: 1,
			percentage: 96
		},
		{
			name: "Professional Driver",
			id: 2,
			percentage: 86
		},
		{
			name: "Affordable Pricing",
			id: 3,
			percentage: 82
		},
		{
			name: "Easy Booking",
			id: 4,
			percentage: 86
		}
	]
	
	function move(percentage, bar, meter) {
		let width = 1;
		let id = setInterval(frame, 20);
		function frame() {
			if (width >= percentage) {
				clearInterval(id);
			} else {
				width++;
				bar.style.width = width + "%";
				meter.innerHTML = width + "%";
			}
		}
	}
	
	const observer = new IntersectionObserver( entries => {
		entries.forEach(entry => {
			if (entry.isIntersecting & !animated) {
				ratings.forEach((rating) => {
					const progressBar = document.querySelector(`.bar-${rating.id}`);
					const progressMeter = document.querySelector(`.progress-meter-${rating.id}`);
					move(rating.percentage, progressBar, progressMeter);
				});
				animated = true;
			}
		})
	})
	
	observer.observe(progressWrapper);
</script>

<script>
	const questions = document.querySelectorAll('.question');

	questions.forEach(question => {
		question.addEventListener('click', (e) => {
			questions.forEach(q => {
				if ( q.classList.contains('show') && q != question ) {
					q.classList.toggle('show')
				}
			})
			question.classList.toggle('show')
		})
	})
</script>
{% endblock %}