{% extends 'rides/main.html' %}
{% load static %}
{% block head %}
	<!-- <link rel="stylesheet" href="{% static 'css/team.css' %}"> -->
	<link rel="stylesheet" href="/static/css/team.css?cache_id={{ context.cache_id }}" >
	<script src="{% static 'js/slider.js' %}" defer></script>
{% endblock %}
{% block content %}
<section class="hero">
	<div>
		<h2>Team<span class="dot">.</span></h2>
		<div>
			<a href="/"><span>Home</span></a>
			<i class="fas fa-chevron-right"></i>
			<span>Team</span>
		</div>
	</div>
</section>
<section class="team">
	<div>
		<h4>Our Team</h4>
		<h1>Meet Our Expert Team<span class="dot">.</span></h1>
		<p>Our team is made up of experienced professionals who are passionate about providing safe, reliable, and affordable carpooling solutions.</p>
		<a href="/team">Show All Team</a>
	</div>
	<div class="team-ceo team-card">
		<div>
			<p>Hope Iyamu</p>
			<h5>CoRider Founder</h5>
		</div>
	</div>
	<div class="team-manager team-card">
		<div>
			<p>Jesse Livermore</p>
			<h5>CoRider Manager</h5>
		</div>
	</div>
	<div class="team-mechanic team-card">
		<div>
			<p>Oscar Kalule</p>
			<h5>CoRider Mechanic</h5>
		</div>
	</div>
	<div class="team-technician team-card">
		<div>
			<p>Rusty Kaufman</p>
			<h5>CoRider Technician</h5>
		</div>
	</div>
	<div class="team-driver team-card">
		<div>
			<p>Jerome Howard</p>
			<h5>CoRider Driver</h5>
		</div>
	</div>
</section>
<section class="reviews">
	<div>
		<h4>Customer Feedback</h4>
		<h2>Our Customer Reviews<span class="dot">.</span></h2>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit necessitatibus quaerat hic molestiae error odit praesentium aliquid tenetur, dolore cum dolores itaque, veniam ea voluptates!</p>
	</div>
	<div class="slider">
		<div>
			<div class="left slide" data-id="0">
					<div>
						<img src="{% static 'images/review.jpg' %}" alt="reviewer-image">
						<p>
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam libero sit illum, assumenda soluta non sed ipsum reiciendis delectus. Deserunt dolore aperiam reprehenderit nisi perferendis?
						</p>
						<div>
							<h4>Lisa Stedman-falls</h4>
							<p class="title">Entrepeneur</p>
						</div>
					</div>
			</div>
			<div class="center slide" data-id="1">
				<div>
					<img src="{% static 'images/review2.jpg' %}" alt="reviewer-image">
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum earum itaque pariatur maiores velit iste officia at, vel ullam nulla explicabo quas magni quaerat asperiores.
					</p>
					<div>
						<h4>Carly Taylor</h4>
						<p class="title">CEO Brand</p>
					</div>
				</div>
			</div>
			<div class="right slide" data-id="2">
				<div>
					<img src="{% static 'images/review3.jpg' %}" alt="reviewer-image">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore quia laudantium cupiditate, eligendi blanditiis. Voluptatem optio, doloribus aspernatur iste in necessitatibus consequuntur repudiandae rem.
					</p>
					<div>
						<h4>Xavier Mueller</h4>
						<p class="title">Entrepeneur</p>
					</div>
				</div>
			</div>
			<div class="next slide" data-id="3">
				<div>
					<img src="{% static 'images/review4.jpg' %}" alt="reviewer-image">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, animi asperiores laboriosam dolor qui suscipit accusantium ipsa explicabo cumque perferendis atque excepturi eum vel fugit!
					</p>
					<div>
						<h4>Mary Kaufman</h4>
						<p class="title">Student</p>
					</div>
				</div>
			</div>
			<div class="prev slide" data-id="4">
				<div>
					<img src="{% static 'images/review5.jpg' %}" alt="reviewer-image">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quidem blanditiis dignissimos consectetur omnis minus fuga veritatis sapiente, animi nesciunt pariatur officiis, nemo, optio laborum!
					</p>
					<div>
						<h4>Jordan Peterson</h4>
						<p class="title">Clinical Psychologist</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="news">
	<h4>Our News</h4>
	<div>
		<h2>Blog & Articles<span class="dot">.</span></h2>
		<a href="">Show All News</a>
	</div>
	<div class="blog-list">
		<div>
			<div>
				<img src="{% static '/images/taxi-e1635074574694.jpg' %}" alt="">
				<div>Booking</div>
			</div>
			<h3>A Variety Of Safe Taxi Services On Your Way</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ratione, rem ducimus doloremque, animi doloribus soluta odio possimus, impedit cupiditate adipisci.
			</p>
		</div>
		<div>
			<div>
				<img src="{% static '/images/background.jpg' %}" alt="">
				<div>Discount</div>
			</div>
			<h3>How To Get Discount With Your Mobile App</h3>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae qui voluptatibus distinctio repellendus architecto voluptas, est, aperiam quia vero dignissimos ullam!
			</p>
		</div>
		<div>
			<div>
				<img src="{% static '/images/calling-a-taxi-with-phone-e1635074552615.jpg' %}" alt="">
				<div>Services</div>
			</div>
			<h3>10 Tips To Easily Catch A Taxi In Your City</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus repellat, animi sint odit eius reprehenderit sequi vitae nemo numquam ea nostrum.
			</p>
		</div>
	</div>
</section>
{% endblock %}