{% extends 'rides/main.html' %}
{% load static %}
{% load humanize %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/terms.css' %}" />
{% endblock %}
{% block content %}
	<section class="terms">
		<h2>Terms and Conditions</h2>

		<p>
			Welcome to CoRider! These terms and conditions ("Terms") govern your use of our carpooling application ("Application").
			By using our Application, you agree to be bound by these Terms. If you do not agree to these Terms, you may not use our Application.
		</p>

		<h3>Eligibility</h3>
		<p>
			To use our Application, you must be at least 18 years old and legally capable of entering into a contract. By using our Application, you represent and warrant that you meet these eligibility requirements.
		</p> 

		<h3>
			User Conduct
		</h3>
		<p>
			When using our Application, you agree to:
		</p>
		<ul>
			<li>
				Follow all applicable laws and regulations;
			</li>
			<li>
				Only use the Application for its intended purpose;
			</li>
			<li>
				Not use the Application for any illegal or fraudulent purpose;
			</li>
			<li>
				Not harass, threaten, or abuse other users of the Application;
			</li>
			<li>
				Not post or transmit any false, misleading, or defamatory information through the Application;
			</li>
			<li>
				Not use the Application to infringe the intellectual property rights of others; and
			</li>
			<li>
				Not attempt to gain unauthorized access to the Application or to any user's account.
			</li>
		</ul>

		<h3>User Content</h3>

		<p>
			When you use our Application, you may submit content, including text, photos, and other materials ("User Content"). 
			By submitting User Content, you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license 
			to use, copy, modify, create derivative works based on, distribute, publicly display, publicly perform, and otherwise 
			exploit in any manner such User Content in all formats and distribution channels now known or hereafter devised 
			(including in connection with the Application and our business and on third-party sites and services), without further 
			notice to or consent from you, and without the requirement of payment to you or any other person or entity.
		</p>
		<p>
			You represent and warrant that: (i) you either are the sole and exclusive owner of all User Content or you have all rights, 
			licenses, consents and releases that are necessary to grant to us the rights in such User Content, as contemplated under these 
			Terms; and (ii) neither the User Content, nor your submission, uploading, publishing or otherwise making available of such User 
			Content, nor our use of the User Content as permitted herein will infringe, misappropriate or violate a third party’s patent, 
			copyright, trademark, trade secret, moral rights or other proprietary or intellectual property rights, or rights of publicity 
			or privacy, or result in the violation of any applicable law or regulation.
		</p>
		<h3>Payment</h3>
		<p>
			If you use our payment system, you agree to pay all fees and charges associated with your use of our carpooling service. 
			You authorize us to charge your credit card or other payment method for all fees and charges incurred by you.
		</p>
		<h3>Disclaimer of Warranties</h3>

		<p>
			We provide our Application on an "as is" and "as available" basis, without any warranty or representation of any kind, whether express,
			implied, or statutory. We specifically disclaim any warranties of merchantability, fitness for a particular purpose, non-infringement, 
			and any warranties arising out of course of dealing or usage of trade.
		</p> 

		<h3>Limitation of Liability</h3>
		<p>
			To the fullest extent permitted by law, we will not be liable for any direct, indirect, incidental, special, consequential, or 
			exemplary damages arising out of or in connection with your use of our Application, including, without limitation, damages for 
			loss of profits, goodwill, use, data, or other intangible losses, whether based on contract, tort, strict liability, or otherwise, 
			even if we have been advised of the possibility of such damages.
		</p>
		<h3>Indemnification</h3>
		<p>
			You agree to indemnify and hold us harmless from and against any and all claims, damages, obligations, losses, liabilities, costs, 
			and expenses (including but not limited to attorney's fees) arising from or related to your use of our Application, including any 
			User Content you submit, any violation of these Terms, or any violation of any rights of another person or entity.
		</p>		

		<h3>Governing Law and Dispute Resolution</h3> 
		<p>
			These Terms shall be governed by and construed in accordance with the laws of Nigeria, without giving effect to 
			any principles of conflicts of law. Any dispute arising out of or relating to these Terms or your use of the Application shall be 
			resolved exclusively in the state or federal courts located in Nigeria, and you consent to the jurisdiction of such 
			courts.
		</p>
		<h3>Modification of Terms</h3>
		<p>
			We reserve the right to modify these Terms at any time, and such modifications will be effective immediately upon posting on the 
			Application. Your continued use of the Application after any such modifications will constitute your acceptance of such changes.
		</p>
		<h3>Entire Agreement</h3>
		<p>
			These Terms constitute the entire agreement between you and us with respect to the subject matter of these Terms, and supersede 
			all prior or contemporaneous communications and proposals, whether oral or written, between you and us.
		</p>
		<h3>Contact Us</h3>
		<p>
			If you have any questions about these Terms or the Application, please contact us at contact@corider.com.
		</p>
	</section>
{% endblock %}

